<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Takeaway</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <img src="/brand.png" alt="" width="50" class="navbar-brand">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><img style="width: 32px;" src="/menu.png" alt=""></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link link" href="#">Order</a>
              </li>
              <li class="nav-item">
                <a class="nav-link link" href="#">Company</a>
              </li>
              <li class="nav-item ">
                  <a href="" class="nav-link link">FAQ</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link link">Contact</a>
            </li>
            <li class="nav-item">
                <button class="nav-link buy-btn"><img style="width: 32px;" src="/buy.png" alt=""></button>
            </li>
            </ul>
          </div>
        </div>
      </nav>