<section class="pre-header">
    <p>We are open now and available for takeaway & dilevery. <a href="#">Order Now</a></p>
</section>

<%- include('header'); -%>

<section class="face">
    <div class="row">
        <div class="col-lg-6">
            <h1>Beautiful food & takeaway, <span style="color: rgb(95, 181, 188);">dilevered</span>  to your door</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button class="button-for-more-info">Place an Order</button>
            <div>
                <img style="float: left;" src="star.png" alt="">
                <p style="padding-top: 5px; margin-left: 40px;">Farxod</p>
                <p style="margin-top: 0;"><span style="color: rgb(95, 181, 188);">4.8 out of 5</span> based on 100+ reviews</p>
            </div>
        </div>
        <div class="col-lg-6" style="padding-left: 10%;">
            <img src="/face-img.png" alt="">
        </div>
    </div>
</section>
<section class="second">
    <div class="row">
        <div class="col-lg-6 div-second">
            <h1>The home of fresh products</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.</p>
            <button class="button-for-more-info">Learn more about us</button>
        </div>
        <div class="col-lg-6">
            <img src="/second.png" alt="">
        </div>
    </div>
</section>
<section class="how-it-works">
    <h1>How it works</h1>
    <div style="margin-top: 3%;" class="row">
        <div class="col-lg-4 pr">
            <h3>[1]</h3>
            <img src="/process-1.png" alt="">
            <p>Adapt your menu items</p>
            <p class="desc">Easily adapt your menu using the webflow CMS and allow customers to browse your items.</p>
        </div>
        <div class="col-lg-4 pr">
            <h3>[2]</h3>
            <img src="/process-2.png" alt="">
            <p>Accept online orders & takeout</p>
            <p class="desc">Let your customers order and pay via the powerful ecommerce system, or simple let them call your store.</p>
        </div>
        <div class="col-lg-4 pr">
            <h3>[3]</h3>
            <img src="/process-3.png" alt="">
            <p>Manage delivery or takeout</p>
            <p class="desc">Manage your own logistics and take orders simply through the ecommerce system.</p>
        </div>
    </div>
</section>
<section class="menu">
    <h1>Browse our menu</h1>
    <p class="menu-p-1">Use our menu to place an order online, or <span style="color: rgb(95, 181, 188);">phone</span> our store to place a pickup order. Fast and fresh food.</p>
    <div class="menu-items">
        <form action="/full-menu" method="post">
            <button class="active-one">Burgers</button>
            <button class="non-active-one">Desserts</button>
            <button class="non-active-one">Drinks</button>
        </form>
    </div>
    <div class="row item" style="margin-top: 5%;">
        <div class="col-6 first-burger">
            <img src="/first-burg.png" alt="">
            <div class="row" style="text-align: left;">
                <div class="col-6" style="width: 50%;">Burger Dreams</div>
                <div class="col-6" style="color: rgb(95, 181, 188);">$9.95</div>
            </div>
            <p class="menu-p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <input value="1" type="number" style="width: 50px; margin-left: 15px;" name="" id=""> <button class="add-cart">Add cart</button>
        </div>
        <div class="col-6 first2-burger">
            <img src="/secon-burg.png" alt="">
            <div class="row" style="text-align: left;">
                <div class="col-6" style="width: 50%;">Burger Dreams</div>
                <div class="col-6" style="color: rgb(95, 181, 188);">$9.95</div>
            </div>
            <p class="menu-p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <input value="1" type="number" style="width: 50px; margin-left: 15px;" name="" id=""> <button class="add-cart">Add cart</button>
        </div>

    </div>
    <div class="row item" style="margin-top: 5%;">
        <div class="col-6 first-burger">
            <img src="/third-burg.png" alt="">
            <div class="row" style="text-align: left;">
                <div class="col-6" style="width: 50%;">Burger Dreams</div>
                <div class="col-6" style="color: rgb(95, 181, 188);">$9.95</div>
            </div>
            <p class="menu-p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <input value="1" type="number" style="width: 50px; margin-left: 15px;" name="" id=""> <button class="add-cart">Add cart</button>
        </div>
        <div class="col-6 first2-burger">
            <img src="/fourth-burg.png" alt="">
            <div class="row" style="text-align: left;">
                <div class="col-6" style="width: 50%;">Burger Dreams</div>
                <div class="col-6" style="color: rgb(95, 181, 188);">$9.95</div>
            </div>
            <p class="menu-p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <input value="1" type="number" style="width: 50px; margin-left: 15px;" name="" id=""> <button class="add-cart">Add cart</button>
        </div>

    </div>
    <div class="row item" style="margin-top: 5%;">
        <div class="col-6 first-burger">
            <img src="/fifth-burg.png" alt="">
            <div class="row" style="text-align: left;">
                <div class="col-6" style="width: 50%;">Burger Dreams</div>
                <div class="col-6" style="color: rgb(95, 181, 188);">$9.95</div>
            </div>
            <p class="menu-p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <input value="1" type="number" style="width: 50px; margin-left: 15px;" name="" id=""> <button class="add-cart">Add cart</button>
        </div>
        <div class="col-6 first2-burger last">
            <img style="float: left; border-radius: 10px;" src="/sixth-burg.png" alt="">
            <div class="row" style="text-align: left;">
                <div class="col-6" style="width: 50%;">Burger Dreams</div>
                <div class="col-6" style="color: rgb(95, 181, 188);">$9.95</div>
            </div>
            <p class="menu-p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <input value="1" type="number" style="width: 50px; margin-left: 15px;" name="" id=""> <button class="add-cart">Add cart</button>
        </div>
        <form action="/full-menu" method="post">
            <button class="see-full-menu button-for-more-info">See full menu</button>
        </form>
    </div>
</section>
<section class="order-online">
    <div class="row">
        <div class="col-lg-6 img-order">
            <img src="/online-order.png" alt="">
        </div>
        <div class="col-lg-6 on-order">
            <h1>Order online with our simple checkout.</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.</p>
            <button class="button-for-more-info">See our FAQ</button>
        </div>

    </div>
</section>
<section class="call call-content">
    <div class="row">
        <div class="col-lg-6">
           <h1>Call our store and takeaway when it suits you best</h1>
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.</p>
           <button class="button-for-more-info">Ph. +998991055644</button>
        </div>
        <div class="col-lg-6">
            <img src="/call.png" alt="">
        </div>
    </div>
</section>
<section class="pre-end">
    <div class="row">
        <div class="col-lg-6">
            <img src="/pre-end.png" alt="">
        </div>
        <div class="col-lg-6 pre-sec">
            <h1><span>Support</span> good food and local business</h1>
            <button class="button-for-more-info">Order Now</button>
        </div>

    </div>
</section>
<%- include('footer'); -%>