<%- include('header'); -%>
<section class="menu">
    <h1>Browse our menu</h1>
    <p class="menu-p-1">Use our menu to place an order online, or <span style="color: rgb(95, 181, 188);">phone</span> our store to place a pickup order. Fast and fresh food.</p>
    <div class="menu-items">
            <h1>Burgers</h1>
            <!-- <button>Desserts</button>
            <button>Drinks</button> -->
    </div>
    <div class="row item" style="margin-top: 5%;">
        <div class="col-6 first-burger">
            <img src="/first-burg.png" alt="">
            <div class="row" style="text-align: left;">
                <div class="col-6" style="width: 50%;">Burger Dreams</div>
                <div class="col-6" style="color: rgb(95, 181, 188);">$9.95</div>
            </div>
            <p class="menu-p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <input value="1" type="number" style="width: 50px; margin-left: 15px;" name="" id=""> <button class="add-cart">Add cart</button>
        </div>
        <div class="col-6 first2-burger">
            <img src="/secon-burg.png" alt="">
            <div class="row" style="text-align: left;">
                <div class="col-6" style="width: 50%;">Burger Dreams</div>
                <div class="col-6" style="color: rgb(95, 181, 188);">$9.95</div>
            </div>
            <p class="menu-p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <input value="1" type="number" style="width: 50px; margin-left: 15px;" name="" id=""> <button class="add-cart">Add cart</button>
        </div>

    </div>
    <div class="row item" style="margin-top: 5%;">
        <div class="col-6 first-burger">
            <img src="/third-burg.png" alt="">
            <div class="row" style="text-align: left;">
                <div class="col-6" style="width: 50%;">Burger Dreams</div>
                <div class="col-6" style="color: rgb(95, 181, 188);">$9.95</div>
            </div>
            <p class="menu-p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <input value="1" type="number" style="width: 50px; margin-left: 15px;" name="" id=""> <button class="add-cart">Add cart</button>
        </div>
        <div class="col-6 first2-burger">
            <img src="/fourth-burg.png" alt="">
            <div class="row" style="text-align: left;">
                <div class="col-6" style="width: 50%;">Burger Dreams</div>
                <div class="col-6" style="color: rgb(95, 181, 188);">$9.95</div>
            </div>
            <p class="menu-p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <input value="1" type="number" style="width: 50px; margin-left: 15px;" name="" id=""> <button class="add-cart">Add cart</button>
        </div>

    </div>
    <div class="row item" style="margin-top: 5%;">
        <div class="col-6 first-burger">
            <img src="/fifth-burg.png" alt="">
            <div class="row" style="text-align: left;">
                <div class="col-6" style="width: 50%;">Burger Dreams</div>
                <div class="col-6" style="color: rgb(95, 181, 188);">$9.95</div>
            </div>
            <p class="menu-p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <input value="1" type="number" style="width: 50px; margin-left: 15px;" name="" id=""> <button class="add-cart">Add cart</button>
        </div>
        <div class="col-6 first2-burger last">
            <img style="float: left; border-radius: 10px;" src="/sixth-burg.png" alt="">
            <div class="row" style="text-align: left;">
                <div class="col-6" style="width: 50%;">Burger Dreams</div>
                <div class="col-6" style="color: rgb(95, 181, 188);">$9.95</div>
            </div>
            <p class="menu-p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <input value="1" type="number" style="width: 50px; margin-left: 15px;" name="" id=""> <button class="add-cart">Add cart</button>
        </div>
    </div>
    <h1>Desserts</h1>
    <div class="row item" style="margin-top: 5%;">
        <div class="col-6 first-burger">
            <img src="/cupcake.jpeg" style="width: 100px;" alt="">
            <div class="row" style="text-align: left;">
                <div class="col-6" style="width: 50%;">Choco Cake</div>
                <div class="col-6" style="color: rgb(95, 181, 188);">$4.95</div>
            </div>
            <p class="menu-p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <input value="1" type="number" style="width: 50px; margin-left: 15px;" name="" id=""> <button class="add-cart">Add cart</button>
        </div>
        <div class="col-6 first2-burger">
            <img src="/oreo-cake.jpeg" style="width: 100px;" alt="">
            <div class="row" style="text-align: left;">
                <div class="col-6" style="width: 50%;">Oreo CupCake</div>
                <div class="col-6" style="color: rgb(95, 181, 188);">$3.95</div>
            </div>
            <p class="menu-p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <input value="1" type="number" style="width: 50px; margin-left: 15px;" name="" id=""> <button class="add-cart">Add cart</button>
        </div>

    </div>
    <div class="row item" style="margin-top: 5%;">
        <div class="col-6 first-burger">
            <img src="/cherry-cheese.webp" style="width: 100px;" alt="">
            <div class="row" style="text-align: left;">
                <div class="col-6" style="width: 50%;">Cheescake Cherry</div>
                <div class="col-6" style="color: rgb(95, 181, 188);">$5.95</div>
            </div>
            <p class="menu-p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <input value="1" type="number" style="width: 50px; margin-left: 15px;" name="" id=""> <button class="add-cart">Add cart</button>
        </div>
        <div class="col-6 first2-burger">
            <img src="/plain.jpeg" style="width: 100px;" alt="">
            <div class="row" style="text-align: left;">
                <div class="col-6" style="width: 50%;">Simple Cheescake</div>
                <div class="col-6" style="color: rgb(95, 181, 188);">$4.95</div>
            </div>
            <p class="menu-p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <input value="1" type="number" style="width: 50px; margin-left: 15px;" name="" id=""> <button class="add-cart">Add cart</button>
        </div>

    </div>
    <h1>Drinks</h1>
    <div class="row item" style="margin-top: 5%;">
        <div class="col-6 first-burger">
            <img src="/coke.png" style="width: 70px;" alt="">
            <div class="row" style="text-align: left;">
                <div class="col-6" style="width: 50%;">Coke</div>
                <div class="col-6" style="color: rgb(95, 181, 188);">$2.10</div>
            </div>
            <p class="menu-p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <input value="1" type="number" style="width: 50px; margin-left: 15px;" name="" id=""> <button class="add-cart">Add cart</button>
        </div>
        <div class="col-6 first2-burger">
            <img src="/fanta.png" style="width: 100px;" alt="">
            <div class="row" style="text-align: left;">
                <div class="col-6" style="width: 50%;">Fanta</div>
                <div class="col-6" style="color: rgb(95, 181, 188);">$3.95</div>
            </div>
            <p class="menu-p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <input value="1" type="number" style="width: 50px; margin-left: 15px;" name="" id=""> <button class="add-cart">Add cart</button>
        </div>

    </div>
    <div class="row item" style="margin-top: 5%;">
        <div class="col-6 first-burger">
            <img src="/lipton.jpeg" style="width: 100px;" alt="">
            <div class="row" style="text-align: left;">
                <div class="col-6" style="width: 50%;">Lipton</div>
                <div class="col-6" style="color: rgb(95, 181, 188);">$1.95</div>
            </div>
            <p class="menu-p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <input value="1" type="number" style="width: 50px; margin-left: 15px;" name="" id=""> <button class="add-cart">Add cart</button>
        </div>
        <div class="col-6 first2-burger">
            <img src="/water.png" style="width: 100px;" alt="">
            <div class="row" style="text-align: left;">
                <div class="col-6" style="width: 50%;">Water</div>
                <div class="col-6" style="color: rgb(95, 181, 188);">$1.95</div>
            </div>
            <p class="menu-p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <input value="1" type="number" style="width: 50px; margin-left: 15px;" name="" id=""> <button class="add-cart">Add cart</button>
        </div>

    </div>
</section>
<%- include('footer'); -%>